{% extends "base/base.html" %}
{% load static %}
{% block content %}
{% csrf_token %}
<div id="fh5co-page">
	<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
	<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

		<h1 id="fh5co-logo"><a href="index.html"><img src="{% static 'images/logo.png'%}"
					alt="Free HTML5 Bootstrap Website Template"></a></h1>
		<nav id="fh5co-main-menu" role="navigation">
			{% if request.session.logged == True %}
			{% if request.session.cargo == 'administrador' %}
			<ul>
				<li class="fh5co-active"><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'createuser' %}">Administrar usuarios</a></li>
				<li><a href="{% url 'createbovine' %}">Administrar bovinos</a></li>
				<li><a href="{% url 'createproduction' %}">Administrar producción</a></li>
				<li><a href="{% url 'generarreporte'%}">Generar reportes</a></li>
				<li><a href="{% url 'salir'%}">Salir</a></li>
			</ul>
			{% elif request.session.cargo == 'mayordomo' %}
			<ul>
				<li class="fh5co-active"><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'createbovine' %}">Administrar bovinos</a></li>
				<li><a href="{% url 'createproduction' %}">Administrar producción</a></li>
				<li><a href="{% url 'salir'%}">Salir</a></li>
			</ul>
			{% elif request.session.cargo == 'ordeniador' %}
			<ul>
				<li class="fh5co-active"><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'createbovine' %}">Administrar bovinos</a></li>
				<li><a href="{% url 'salir'%}">Salir</a></li>
			</ul>
			{% endif %}
			{% else %}
			<meta http-equiv="REFRESH" content="0;url={{ 'home' }}">
			{% endif %}
		</nav>		

	</aside>

	<div id="fh5co-main">
		<div class="fh5co-testimonial">

		</div>
		<div class="fh5co-narrow-content">
			<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">!BIENVENIDO! <span>Señor
					{{request.session.cargo}}</span></h2>
		</div>
	</div>
</div>
</div>
{% endblock content%}